Flask==1.0.2
pytest==4.3.1
peewee==3.9.3
python-dotenv==0.10.1
psycopg2-binary==2.7.7
pytest-env==0.6.2
inflection==0.3.1
bcrypt==3.1.6
pytest-mock==1.10.4
marshmallow==3.2.1
PyJWT==1.7.1
freezegun==0.3.12
