{% extends "base.html" %}

{% block title %}Criar nova senha{% endblock %}

{% block extra_js %}
  <script src="{{url_for('auth_app.static', filename='js/reset_password.js')}}"></script>
{% endblock %}

{% block content %}
  <h1>Confirmar E-mail</h1>

  <div class="wrapper">
    <div class="content-action">
      <div id="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </div>

      <div id="error-content">
        <p>Oops! Houve um erro, tente novamente mais tarde! :(</p>
      </div>

      <div id="error-password-confirmation">
          <p>Oops! Senha e Confirmação de senha não combinam! :(</p>
        </div>

      <div id="success-content">
        <p>Senha criada com sucesso! :)</p>
        <div class="success-check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div id="initial-content">
        <form id="reset-password-form">
          <div class="form-field">
            <label>Senha: </label>
            <input type="password" name="password" />
          </div>

          <div class="form-field">
            <label>Confirmação de senha: </label>
            <input type="password" name="confirmation_password" />
          </div>

          <button type="submit">Criar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
